---
---

/* work on responsiveness */
/* @import 'reset'; investigate why this is good practice. */

@import 'heading';
@import 'buttons';

$indent: 7px;
$meta_color: #b6b2b2;

.container {
	display: flex;
	flex-flow: column nowrap;
	width: 750px;
	/* background: yellow; */
	margin: 40px auto;
  	justify-content: space-between;
  	grid-row-gap: 5px;
  	font-family: 'Open Sans', sans-serif;
}

.heading {
	/* background: green; */
	padding-left: 3px;
	margin-right: 70px;
	max-height: 150px;
}

.content {
/* 	background: lightblue; */
	
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.separator {
	display: flex;
	flex-flow: row;
/*	background: brown; */
	justify-content: space-between;
	

}

.flex-item {
 /* 	background: tomato; */
  	margin: 5px;
  	flex: 1;
  	margin-bottom: 0;
}

.flex-hr1 {
	flex: 1.3;
	color: $meta_color;
}

.flex-hr2 {
	flex: 8;
	align-self: flex-end;
}

.date{
	color: $meta_color;
}

hr {
	color: #b6b2b2;
}

.list_heading {
	display: flex;
	justify-content: center;
}


// Shares Buttons
.share-buttons {
  padding-top: 1em;
  border-top: 1px solid #ddd;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 0.5em;
      span {
        display: none;
          display: inline;
          margin: 0.5em;
        }
      
    }
  }
}
.twitter {
  background-color: #77bcf1;
  color: $white;
  border-color: #77bcf1;
  &:visited {
    color: $white;
    border-color: #77bcf1;
  }
  &:hover {
    background-color: $white;
    color: #77bcf1;
    border-color: #77bcf1;
  }
}
.facebook {
  background-color: #627aac;
  color: $white;
  border-color: #627aac;
  &:visited {
    color: $white;
    border-color: #627aac;
  }
  &:hover {
    background-color: $white;
    color: #627aac;
    border-color: #627aac;
  }
}
.google-plus {
  background-color: #e36f60;
  color: $white;
  border-color: #e36f60;
  &:visited {
    color: $white;
    border-color: #e36f60;
  }
  &:hover {
    background-color: $white;
    color: #e36f60;
    border-color: #e36f60;
  }
}
.hacker-news {
  background-color: #f60;
  color: $white;
  border-color: #f60;
  &:visited {
    color: $white;
    border-color: #f60;
  }
  &:hover {
    background-color: $white;
    color: #f60;
    border-color: #f60;
  }
}
.reddit {
  background-color: #5f99cf;
  color: $white;
  border-color: #5f99cf;
  &:visited {
    color: $white;
    border-color: #5f99cf;
  }
  &:hover {
    background-color: $white;
    color: #5f99cf;
    border-color: #5f99cf;
  }
}





/*
code {
	background-color: #b6b2b2;
}
 */

a {
	color: #e9724c;
	&:hover { color: #f7cbbd; }
}


//FOOTER STYLING

.footer {
	border-top: 1px solid #ddd;
}
