
<div class="list_heading"> <a href="{{post.url}}" class="title">{{ post.title }}</a> </div>
	
<div class="date">{{post.date | date: "%b %e, %Y"}}</div>

<br><br>

{% assign char_numbers = 350 %}

{% if post.subtitle %}
 	{{ post.subtitle | truncate: char_numbers}} 

{% else %}
	{{ post.content | truncate: char_numbers}} <a href="{{post.url}}">read more</a>

{% endif %}

<br>


