// General

$white: white;
$primary: #0d3b66;

.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 0.875em;
  //font-family: $font-family-base;
  font-weight: 700;
  background-color: $primary;
  color: $white;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: $primary;
  text-decoration: none !important;
  border-radius: 5px;
  &:visited {
    color: $white;
    border-color: $primary;
  }
  &:hover {
    background-color: $white;
    color: $primary;
    border-color: $primary;
  }
}