<head>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Syncopate|Montserrat:300,400,500,700|Open+Sans|NTR" rel="stylesheet"> 

</head>


<div class="container">

	{% for post in site.posts %}

		<div> {% include list_item.html %} </div>

	{% endfor %}



</div>