<head>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Syncopate|Montserrat:300,400,500,700|Open+Sans|NTR" rel="stylesheet"> 

</head>


<div class="container">

	<div class="heading"> <h1 class="title">{{ page.title }}</h1> </div>

	<div class="separator"> 
		<div class="flex-item flex-hr1"> {% include read_time.html %} </div> 
		<div class="flex-item flex-hr2"> <hr> </div>
	</div>

	<!-- may possibly use conditional if there is no quote. spacing is affected -->
	<h2> {{page.subtitle}} </h2>

	<div class="content"> {{ page.content }} </div>

	{% include footer.html %}

</div>